In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('results/pucit_result.csv')

In [5]:
df

,Roll Number,Name of Category of Admission Test,Marks Obtained
0,5001,Pre-Engineering (PU-E),56
1,5004,Pre-Engineering (PU-E),46
2,5007,Pre-Engineering (PU-E),73
3,5008,"Arts, Humanities & Social Sciences (PU-AHS)",60
4,5009,"Arts, Humanities & Social Sciences (PU-AHS)",58
...,...,...,...
35286,39994,Pre-Medical (PU-M),54
35287,39995,Pre-Medical (PU-M),57
35288,39997,Pre-Medical (PU-M),0
35289,39998,Pre-Medical (PU-M),55
35290,39999,Pre-Medical (PU-M),64

In [12]:
total_scraped = len(df)
people_with_more_than_90_nums = len(df[df['Marks Obtained'] >= 90])
print(f"{people_with_more_than_90_nums} out of {total_scraped} have more than 90 or 90+ marks")
people_with_more_than_80_nums = len(df[df['Marks Obtained'] >= 80])
print(f"{people_with_more_than_80_nums} out of {total_scraped} have more than 80 or 80+ marks")
people_with_more_than_70_nums = len(df[df['Marks Obtained'] >= 70])
print(f"{people_with_more_than_70_nums} out of {total_scraped} have more than 70 or 70+ marks")

22 out of 35291 have more than 90 or 90+ marks
602 out of 35291 have more than 80 or 80+ marks
3296 out of 35291 have more than 70 or 70+ marks

In [13]:
df[df['Marks Obtained'] >= 90]

       Roll Number        Name of Category of Admission Test  Marks Obtained
1493          2732     ICS with Physics Combination (PU-CSP)              90
2305           644                    Pre-Engineering (PU-E)              90
3899          6483     ICS with Physics Combination (PU-CSP)              91
11506        10484     ICS with Physics Combination (PU-CSP)              93
14756        13136     ICS with Physics Combination (PU-CSP)              90
18202        23025  ICS with Statistics Combination (PU-CSS)              90
18667        23572     ICS with Physics Combination (PU-CSP)              90
19438        29499     ICS with Physics Combination (PU-CSP)              90
20385        26596     ICS with Physics Combination (PU-CSP)              91
21767        24195     ICS with Physics Combination (PU-CSP)              91
21896        24342     ICS with Physics Combination (PU-CSP)              94
22460        24993     ICS with Physics Combination (PU-CSP)              90
24441        27354     ICS with Physics Combination (PU-CSP)              90
25092        28122                    Pre-Engineering (PU-E)              93
26737        34051                    Pre-Engineering (PU-E)              90
27233        34615     ICS with Physics Combination (PU-CSP)              90
28860        30472     ICS with Physics Combination (PU-CSP)              92
29176        30831     ICS with Physics Combination (PU-CSP)              91
31903        33075     ICS with Physics Combination (PU-CSP)              90
32696        33990     ICS with Physics Combination (PU-CSP)              92
32697        33991     ICS with Physics Combination (PU-CSP)              92
33348        38743                    Pre-Engineering (PU-E)              90

In [14]:
ics_physics_students = df[df['Name of Category of Admission Test'] == 'ICS with Physics Combination (PU-CSP)']
ics_stats_students = df[df['Name of Category of Admission Test'] == 'ICS with Statistics Combination (PU-CSS)']
premedical_students = df[df['Name of Category of Admission Test'] == 'Pre-Medical (PU-M)']
preengineering_students = df[df['Name of Category of Admission Test'] == 'Pre-Engineering (PU-E)']
humanity_students = df[df['Name of Category of Admission Test'] == 'Arts, Humanities & Social Sciences (PU-AHS)']

In [15]:
len(df)

35291

In [16]:
print("Total ICS Physics students: ", len(ics_physics_students))
print("Total ICS Statistics students: ", len(ics_stats_students))
print("Total Pre-Medical students: ", len(premedical_students))
print("Total Pre-Engineering students: ", len(preengineering_students))
print("Total Humanity students: ", len(humanity_students))

Total ICS Physics students:  9077
Total ICS Statistics students:  1445
Total Pre-Medical students:  14553
Total Pre-Engineering students:  5082
Total Humanity students:  3268

In [17]:
def find_merit_position(df):
    input_roll_number = input("Enter your roll number: ")
    df_sorted = df.sort_values(by='Marks Obtained', ascending=False).reset_index(drop=True)
    meritPosition = df_sorted[df_sorted['Roll Number'] == int(input_roll_number)].index[0] + 1
    print(f"Your merit position is: {meritPosition}")
    percentile = 100 - (meritPosition / len(df)) * 100
    print(f"Your percentile is: {round(percentile,2)}%")

In [18]:
find_merit_position(df)

Your merit position is: 11
Your percentile is: 99.97%